.NavBar {
    display: flex;
    justify-content: space-between;
    padding-top: 5vh;
    //position:fixed;
    width: 100%;
    &_left {
        color: white;
        display: flex;
        flex-direction: row;
        height: 10px;
        p{
            margin-left: 1vw;
            width: 4.0vw;
            padding-top: 0vh;
            margin-top: 0.5vh;
        }
    }
    &_logo {
        //position: relative;
        //z-index: 2;
        height: 25px;
        width: 10vw;
        object-fit:contain;
        top: 3vh;
        //margin-right: 50vw;
        margin-left: 5vw;
    }
    &_avatar {
        height: 30px;
        width: 5vw;
        margin-right: 5vw;
        object-fit: contain;
        bottom: 1vh;
    }
    &_avatar.resize {
        width:540px; /* you can use % */
        height: auto;
    }

    &_right {
        display: flex;
        flex-direction: row;

        &_icon {
            margin-right: 2vw;
            color: white;
            margin-top:0.5vh;
            height: 20pt;
        }
    }

}